
$send-button-text-color: #555;
$send-button-text-color-hover: #fff;

#send-to-omnifocus {
  background: #000 -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #dedede 12%,
    #e0e0e0 25%,
    #dadada 39%,
    #d5d5d5 50%,
    #c4c4c4 51%,
    #c4c4c4 60%,
    #ccc 76%,
    #d8d8d8 91%,
    #d0d0d0 100%
  );
  border-radius: 7px;
  color: $send-button-text-color;
  cursor: pointer;
  display: block;
  font-size: 2em;
  padding: 5px 15px 5px 50px;
  position: relative;

  &::before {
    // button icon
    background: url('chrome-extension://__MSG_@@extension_id__/images/omnifocus-32.png') no-repeat top left;
    content: '';
    display: inline-block;
    height: 32px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 32px;
    z-index: 1;
  }

  &:hover {
    background: #000 -webkit-linear-gradient(
      top,
      #4c4c4c 0%,
      #595959 12%,
      #666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000 51%,
      #111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    color: $send-button-text-color-hover;
    text-decoration: none;
  }
}
